body {
  background: #253248;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#locationInput {
  font-size: 20px;
  padding: 5px;
}

#searchBtn {
  margin-left: 10px;
  font-size: 20px;
  padding: 5px;
}

.card {
  border-radius: 15px;
}

.card-body img {
  width: 50px;
}

#currentWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#cityWeather {
  border: 1px white solid;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-card {
  margin: 15px;
}

#temperature {
  margin-left: 10px;
}

#forecast {
  display: flex;
  flex-direction: row;
  width: 100%;
}
